html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

#container{

    height: 100%;
    background-color: chartreuse;

}

#topoTitulo{
    
    height: 25%;
    background-color: orange;
    align-content:center;

}

#meioPerguntas{

    height: 23%;
    background-color: crimson;

}

#meioLabels{

    height: 7%;
    background-color: gold;

}

#meioSelects{

    height: 27%;
    background-color: aquamarine;

}

#baixoResultado{

    height: 18%;
    background-color: darkmagenta;

}